In [ ]:
# Import necessary libraries
import sys
sys.path.append("../scripts")  # Add scripts folder to path
from data_loader import get_stocks, get_etfs, get_technical_indicators

In [2]:
# Example 1: Get all stocks. The first call of get_stocks() or get_etfs() will download [~2mins] and preprocess [~1mins] all files. Subsequent calls will use downloaded files -> faster calls.
stocks_df = get_stocks()
stocks_df.head()

🚀 Downloading and Processing Data...

📥 Downloading dataset: borismarjanovic/price-volume-data-for-all-us-stocks-etfs
Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.7), please consider upgrading to the latest version (0.3.10).
Downloading from https://www.kaggle.com/api/v1/datasets/download/borismarjanovic/price-volume-data-for-all-us-stocks-etfs?dataset_version_number=3...

100%|██████████| 492M/492M [01:27<00:00, 5.91MB/s]

Extracting files...

✅ Dataset downloaded to: C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3
✅ Processed ETFs dataset with 2564234 records.
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\accp.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\amrh.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\amrhw.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\asns.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\bbrx.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\bolt.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\boxl.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\bxg.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\ehr.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\fmax.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\gnst.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\hayu.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\jt.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\mapi.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\molc.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\otg.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\pbio.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\pxus.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\rbio.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\sail.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\sbt.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\scci.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\scph.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\send.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\sfix.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\srva.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\stnl.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\vist.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\vmet.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\wnfm.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\wspt.us.txt: No columns to parse from file
❌ Error processing C:\Users\fauza\.cache\kagglehub\datasets\borismarjanovic\price-volume-data-for-all-us-stocks-etfs\versions\3\Stocks\znwaa.us.txt: No columns to parse from file
✅ Processed Stocks dataset with 14880502 records.
🗑️ Raw dataset removed to save space.

✅ Data Processing Completed!

  Stock       Date    Open    High     Low   Close    Volume  Target
0     A 1999-11-18  30.713  33.754  27.002  29.702  66277506       0
1     A 1999-11-19  28.986  29.027  26.872  27.257  16142920       1
2     A 1999-11-22  27.886  29.702  27.044  29.702   6970266       0
3     A 1999-11-23  28.688  29.446  27.002  27.002   6332082       1
4     A 1999-11-24  27.083  28.309  27.002  27.717   5132147       1

In [3]:
# Example 2: Get only NVDA stocks
stocks_df = get_stocks("NVDA")
stocks_df

✅ Processed data already exists. Skipping processing.

,Stock,Date,Open,High,Low,Close,Volume,Target
9875550,NVDA,1999-01-22,1.6238,1.8092,1.4379,1.5215,18297633,1
9875551,NVDA,1999-01-25,1.6423,1.6980,1.5215,1.6793,3445279,0
9875552,NVDA,1999-01-26,1.6980,1.7350,1.5311,1.5494,2320993,0
9875553,NVDA,1999-01-27,1.5586,1.5957,1.4660,1.5494,1662658,0
9875554,NVDA,1999-01-28,1.5494,1.5586,1.5311,1.5401,1540110,0
...,...,...,...,...,...,...,...,...
9880277,NVDA,2017-11-03,207.2000,208.6900,205.3410,208.6900,8841024,1
9880278,NVDA,2017-11-06,207.2000,209.9800,206.7000,209.6300,9731783,1
9880279,NVDA,2017-11-07,210.5500,212.9000,210.0560,212.0000,10671815,0
9880280,NVDA,2017-11-08,211.8500,212.0000,207.2400,209.1600,13033902,0
9880281,NVDA,2017-11-09,205.2700,206.3300,200.3700,205.3200,23895006,1

In [4]:
# Example 3: Get only NVDA and AAPL stocks
stocks_df = get_stocks(["NVDA", "AAPL"])
stocks_df

✅ Processed data already exists. Skipping processing.

,Stock,Date,Open,High,Low,Close,Volume,Target
39077,AAPL,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0
39078,AAPL,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,1
39079,AAPL,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0
39080,AAPL,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,1
39081,AAPL,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,1
...,...,...,...,...,...,...,...,...
9880277,NVDA,2017-11-03,207.20000,208.69000,205.34100,208.69000,8841024,1
9880278,NVDA,2017-11-06,207.20000,209.98000,206.70000,209.63000,9731783,1
9880279,NVDA,2017-11-07,210.55000,212.90000,210.05600,212.00000,10671815,0
9880280,NVDA,2017-11-08,211.85000,212.00000,207.24000,209.16000,13033902,0
9880281,NVDA,2017-11-09,205.27000,206.33000,200.37000,205.32000,23895006,1

In [5]:
# Example 4: Get technical indicators
stocks_df_with_indicators = get_technical_indicators(stocks_df)
stocks_df_with_indicators

✅ Technical indicators added successfully.

,Stock,Date,Open,High,Low,Close,Volume,Target,EMA12,EMA26,...,RSV,K,D,J,OSC,BOLL_Mid,BOLL_STD,BOLL_Upper,BOLL_Lower,BIAS
39077,AAPL,1984-09-07,0.42388,0.42902,0.41874,0.42388,23220030,0,0.423880,0.423880,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39078,AAPL,1984-09-10,0.42388,0.42516,0.41366,0.42134,18022532,1,0.423489,0.423692,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39079,AAPL,1984-09-11,0.42516,0.43668,0.42516,0.42902,42498199,0,0.424340,0.424087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39080,AAPL,1984-09-12,0.42902,0.43157,0.41618,0.41618,37125801,1,0.423085,0.423501,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39081,AAPL,1984-09-13,0.43927,0.44052,0.43927,0.43927,57822062,1,0.425575,0.424669,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9880277,NVDA,2017-11-03,207.20000,208.69000,205.34100,208.69000,8841024,1,201.805064,194.979183,...,93.191489,85.875995,82.602649,92.422688,2.276881,197.8915,6.356544,210.604589,185.178411,1.442066
9880278,NVDA,2017-11-06,207.20000,209.98000,206.70000,209.63000,9731783,1,203.008901,196.064429,...,98.139288,89.963759,85.056352,99.778574,2.191929,199.1035,6.155158,211.413816,186.793184,1.261563
9880279,NVDA,2017-11-07,210.55000,212.90000,210.05600,212.00000,10671815,0,204.392147,197.244842,...,95.285490,91.737670,87.283458,100.646092,2.033912,200.2570,6.308064,212.873129,187.640871,1.738025
9880280,NVDA,2017-11-08,211.85000,212.00000,207.24000,209.16000,13033902,0,205.125663,198.127446,...,76.842105,86.772481,87.113133,86.091179,1.456702,201.1680,6.206534,213.581069,188.754931,0.186808
9880281,NVDA,2017-11-09,205.27000,206.33000,200.37000,205.32000,23895006,1,205.155561,198.660228,...,39.505188,71.016717,81.747661,49.554829,0.924920,201.8825,5.786328,213.455155,190.309845,-1.504709

In [6]:
# Example 5: Get all ETFs
etfs_df = get_etfs()
etfs_df.head()

✅ Processed data already exists. Skipping processing.

  Stock       Date    Open    High     Low   Close  Volume  Target
0  AADR 2010-07-21  24.333  24.333  23.946  23.946   43321       1
1  AADR 2010-07-22  24.644  24.644  24.362  24.487   18031       1
2  AADR 2010-07-23  24.759  24.759  24.314  24.507    8897       1
3  AADR 2010-07-26  24.624  24.624  24.449  24.595   19443       0
4  AADR 2010-07-27  24.477  24.517  24.431  24.517    8456       0

In [7]:
# Example 6: Get only SPY and QQQ ETFs
etfs_df = get_etfs(["SPY", "QQQ"])
etfs_df

✅ Processed data already exists. Skipping processing.

        Stock       Date     Open     High      Low    Close    Volume  Target
1775351   QQQ 1999-03-10   45.722   45.750   44.967   45.665  11700414       1
1775352   QQQ 1999-03-11   45.994   46.260   44.988   45.880  21670048       0
1775353   QQQ 1999-03-12   45.721   45.749   44.406   44.770  19553768       1
1775354   QQQ 1999-03-15   45.101   46.103   44.625   46.052  14245348       1
1775355   QQQ 1999-03-16   46.253   46.643   45.749   46.447  10971066       0
...       ...        ...      ...      ...      ...      ...       ...     ...
2091469   SPY 2017-11-03  257.770  258.500  257.300  258.450  59578151       1
2091470   SPY 2017-11-06  258.300  259.000  258.220  258.850  49529148       0
2091471   SPY 2017-11-07  258.970  259.350  258.110  258.670  57218448       1
2091472   SPY 2017-11-08  258.470  259.220  258.150  259.110  50277699       0
2091473   SPY 2017-11-09  257.730  258.390  256.360  258.170  94537282       0

[7900 rows x 8 columns]

In [8]:
# Example 7: Get technical indicators
etfs_df_with_indicators = get_technical_indicators(etfs_df)
etfs_df_with_indicators

✅ Technical indicators added successfully.

,Stock,Date,Open,High,Low,Close,Volume,Target,EMA12,EMA26,...,RSV,K,D,J,OSC,BOLL_Mid,BOLL_STD,BOLL_Upper,BOLL_Lower,BIAS
1775351,QQQ,1999-03-10,45.722,45.750,44.967,45.665,11700414,1,45.665000,45.665000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775352,QQQ,1999-03-11,45.994,46.260,44.988,45.880,21670048,0,45.698077,45.680926,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775353,QQQ,1999-03-12,45.721,45.749,44.406,44.770,19553768,1,45.555296,45.613450,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775354,QQQ,1999-03-15,45.101,46.103,44.625,46.052,14245348,1,45.631712,45.645935,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1775355,QQQ,1999-03-16,46.253,46.643,45.749,46.447,10971066,0,45.757141,45.705273,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2091469,SPY,2017-11-03,257.770,258.500,257.300,258.450,59578151,1,256.793471,255.086751,...,98.888889,84.592173,77.986797,97.802925,0.239030,256.0640,1.227129,258.518259,253.609741,0.359838
2091470,SPY,2017-11-06,258.300,259.000,258.220,258.850,49529148,0,257.109860,255.365510,...,97.000000,88.728116,81.567237,103.049873,0.295552,256.3090,1.271207,258.851414,253.766586,0.441059
2091471,SPY,2017-11-07,258.970,259.350,258.110,258.670,57218448,1,257.349881,255.610287,...,82.428941,86.628391,83.254288,93.376596,0.331446,256.5115,1.309979,259.131458,253.891542,0.246738
2091472,SPY,2017-11-08,258.470,259.220,258.150,259.110,50277699,0,257.620669,255.869525,...,92.476489,88.577757,85.028778,95.675715,0.308452,256.7160,1.382143,259.480287,253.951713,0.290293
2091473,SPY,2017-11-09,257.730,258.390,256.360,258.170,94537282,0,257.705181,256.039931,...,62.658228,79.937914,83.331823,73.150095,0.254269,256.8925,1.327391,259.547282,254.237718,-0.117356